@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&family=Roboto:wght@300;400;700&display=swap");

.App {
  position: relative;
}

body {
  background: #0f0f0f;
  color: #f0f0f0;
}

.top {
  overflow: hidden;
  position: sticky;
  top: 0;
  left: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #0f0f0f;
  box-shadow: 0px 0px 10px 8px #000;
}

.transparent {
  display: none;
}

.transparentButton {
  margin-top: 5px;
  padding: 8px 5px 10px 5px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 100%;
  color: #fff;
  background: #595959;
  cursor: pointer;
  z-index: 9999;
}

.search {
  width: 60%;
  margin-bottom: 10px;
  padding: 5px 10px 0px 10px;
  background: #0f0f0f;
  border: 1px solid #f0f0f0;
  border-radius: 5px;
}

.searchOpen {
  text-align: center;
  padding: 5px 15px 7px 20px;
  border: 1px solid #f0f0f0;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.searchOpen.opened {
  background: #2d2d2d;
}

.searchOpen:hover {
  color: #fff;
  background: #555;
}

.video {
  margin-bottom: 7px;
}

.videoList {
  padding: 2px 10px 6px 10px;
  border: 1px solid #f0f0f0;
  margin-bottom: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.videoList.display {
  background: #555;
}

.videoList:hover {
  color: #fff;
  background: #555;
}

.searchForm {
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchInput {
  width: 75%;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-right: 5px;
  padding: 2px 5px;
  color: #fff;
  background: none;
  border: 1px solid #f0f0f0;
  border-radius: 5px;
}

.searchButton {
  padding: 1px 3px 4px 3px;
  transform: translateY(-2px);
  background: none;
  color: #f0f0f0;
  border: 1px solid #f0f0f0;
  border-radius: 5px;
  cursor: pointer;
}

.searchButton:hover {
  color: #fff;
  background: #555;
}

.comment {
  padding: 20px 20px;
  border-bottom: 1px solid #aeaeae;
}

.property {
  padding-top: 5px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  transition: 0.3s;
}

.mbti {
  margin: 2px;
  padding: 3px 5px 5px 5px;
  border: 1px solid #aeaeae;
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;
}

.mbti:hover {
  background: #555;
}

.mbti.selected {
  color: #000;
  background: #fff;
}

.user {
  display: flex;
  align-items: center;
  font-size: 15px;
}
.userName {
  margin-right: 10px;
}

.updatedAt {
  margin-right: 10px;
  color: #aeaeae;
  font-size: 13px;
}
.likeHit {
  margin-right: 10px;
  color: #aeaeae;
  font-size: 13px;
}
.likeCount {
  font-size: 15px;
  color: #fff;
}

.text {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.4;
}
.text pre {
  white-space: pre-wrap;
  font-family: "Roboto", sans-serif;
}

.shortText {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
}

.showAllText {
  padding: 0px 10px 2px 10px;
  font-size: 14px;
  color: #aeaeae;
  border: 1px solid #aeaeae;
  border-radius: 5px;
  cursor: pointer;
}

.copy {
  margin-right: 10px;
  padding: 2px 10px 3px 10px;
  font-size: 13px;
  border: 1px solid #f0f0f0;
  border-radius: 5px;
  transition: 0.2s;
  cursor: pointer;
}

.copy:hover {
  color: #0f0f0f;
  background: #f0f0f0;
}

.copy:active {
  background: #333;
}

.copySuccess {
  font-size: 13px;
}

.made {
  font-size: 10px;
  font-weight: 100;
  color: #ddd;
}

.hideMenu {
  margin-right: 5px;
}

@media screen and (min-width: 768px) {
  .mbti {
    font-size: 17px;
  }

  .search {
    min-width: 400px;
  }

  .comment {
    padding: 15px 100px;
  }
}
